/* NAV STYLES */

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 20px;
    font-size: large;
}

#highscore {
    color: hotpink;
}

#highscore:hover {
    color:navy;
}
/* end */

/* MAIN STYLES */

h2 {
    font-size: xx-large;
}

p, label {
    font-size: large;
}

.quiz-container {
    width: 400px;
    margin: auto;
    text-align: center;
}

.quiz-container li {
    text-align: left;
    width: 150px;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color:navy;
    border-radius: 10px;
}

.quiz-container li:hover {
    background-color: hotpink;
    color: navy;
    list-style-type: none;
}

#scoreList {
    text-align: left;
    width: 150px;
    margin: 20px;
    padding: 10px;
    color: black;
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 0px;

}

#scoreList:hover {
    text-align: left;
    width: 150px;
    margin: 20px;
    padding: 10px;
    color: black;
    list-style-type: decimal;
    border-radius: 0px;
}

.quiz-container button {
    margin: 10px;
    padding: 5px;
    color: white;
    background-color: navy;
    border-radius: 10px;
    border-style: none;
    font-size: large;
}

.quiz-container button:hover {
    background-color: hotpink;
}

h3 {
    color: gray;
    text-align: left;
}