nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 20px;
}

.quiz-container {
    width: 400px;
    margin: auto;
    text-align: center;
}

